.advantages {
  text-align: center;
}

.advantages__content {
  padding: 62px 240px 80px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 36px;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  margin: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: advantages 1;
}

.advantages__item {
  counter-increment: advantages 0;
}

.advantages__list-inner {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  color: #333333;
  background-color: #ffffff;
  list-style: none;
}

.advantages__inner-item {
  display: grid;
  align-content: start;
  gap: 20px;
  min-height: 384px;
  padding: 60px;
  padding-top: 184px;
  background-repeat: no-repeat;
  background-size: 76px 76px;
  background-position: 50% 88px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__inner-item-house {
  background-image: url(../images/icons/house.svg);
}

.advantages__inner-item-food {
  background-image: url(../images/icons/food.svg);
}

.advantages__inner-item-present {
  background-image: url(../images/icons/present.svg);
}

.advantages__item:not(.advantages__item-large):nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__item-large {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
  gap: 0;
  padding: 0;
  color: #ffffff;
  background-color: #83b3d3;
}

.advantages__list-inner .advantages__item:nth-child(even) {
  background-color: #ffffff;
}



.advantages__item-large .advantages__title {
  color: #ffffff;
}

.advantages__inner-item .advantages__title {
  color: #000000;
}

.advantages__images {
  grid-column: span 2;
  width: 100%;
  height: 0;
  min-height: 100%;
  object-fit: cover;
}

.advantages__description .advantages__title {
  order: -1;
}

.advantages__item-large:nth-child(2) .advantages__images {
  order: -1;
}

.advantages__description {
  display: grid;
  align-content: start;
  gap: 26px;
  min-height: 384px;
  padding: 60px;
  padding-top: 98px;
}

.advantages__description::before {
  content: "— №" counter(advantages) " —";
}

.advantages__text {
  margin: 0 auto;
  width: 250px;
  line-height: 21px;
}
