.page {
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    width: 1200px;
    min-height: 100%;
    margin: 0 auto;
    color: #333333;
    background-color: #ffffff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }