$breakpoint-small: 400px;
$breakpoint-small-down: 767px;
$breakpoint-medium: 768px;
$breakpoint-medium-down: 1199px;
$breakpoint-large: 1200px;


$color-white: #ffffff;

$font: "PT Sans", "Arial", sans-serif;
